<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yosep.myweb.member.service.MemberMapper">

    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO MEMBER (
                USER_ID,
                USER_PW,
                USER_NAME,
                BIRTH_DATE,
                GENDER_CODE,
                PHONE_NUM
            ) VALUES (
                #{userId},
                #{userPw},
                #{userName},
                #{birthDate},
                #{genderCode},
                #{phoneNum}
            )
    </insert>

<select id="getAllMembers" resultType="MemberDTO">
    SELECT 
        USER_ID as userId, 
        USER_PW as userPw,
        USER_NAME as userName, 
        BIRTH_DATE as birthDate,
        GENDER_CODE as genderCode,
        PHONE_NUM as phoneNum,
        TO_CHAR(REG_DATE, 'YYYY-MM-DD') as regDate 
    FROM MEMBER
</select>
</mapper>