<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yosep.myweb.member.service.MemberMapper">

    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO MEMBER (
                USER_ID,
                USER_PW,
                USER_NAME,
                BIRTH_DATE,
                GENDER_CODE,
                PHONE_NUM
            ) VALUES (
                #{userId},
                #{userPw},
                #{userName},
                #{birthDate},
                #{genderCode},
                #{phoneNum}
            )
    </insert>

    <select id="loginCheck" parameterType="MemberDTO" resultType="MemberDTO">
        SELECT 
            USER_ID    as userId,
            USER_NAME  as userName
        FROM MEMBER
       WHERE USER_ID = #{userId}
         AND USER_PW = #{userPw} -- 실제로는 암호화가 필요하지만 우선 평문으로 진행합니다.
         AND USER_YN  = 'Y'
    </select>

    <select id="getAllMembers" resultType="MemberDTO">
        SELECT 
            USER_ID as userId, 
            USER_PW as userPw,
            USER_NAME as userName, 
            BIRTH_DATE as birthDate,
            GENDER_CODE as genderCode,
            PHONE_NUM as phoneNum,
            TO_CHAR(REG_DATE, 'YYYY-MM-DD') as regDate 
        FROM MEMBER
    </select>

    <select id="selectMemberAddressList" resultType="MemberAddrDTO" parameterType="MemberAddrDTO">
        SELECT 
            m.USER_ID          as userId,
            m.USER_NAME        as userName,
            ma.ADDR_SEQ        as addrSeq,
            ma.ADDR_NAME       as addrName,
            ma.RECIPIENT_NAME  as recipientName,
            ma.RECIPIENT_PHONE as recipientPhone,
            ma.ZIP_CODE        as zipCode,
            ma.ADDR_ROAD       as addrRoad,
            ma.ADDR_JIBUN      as addrJibun,
            ma.ADDR_DETAIL     as addrDetail,
            ma.DEFAULT_YN      as defaultYn,
            ma.DLVR_REQ_CODE    AS dlvrReqCode,
            ma.DLVR_REQ_MESSAGE AS dlvrReqMessage
        FROM MEMBER m
        JOIN MEMBER_ADDR ma ON m.USER_ID = ma.USER_ID
        WHERE m.USER_ID = #{userId}
        <if test="defaultYn != null and defaultYn != ''">
            AND ma.DEFAULT_YN = #{defaultYn}
        </if>
        ORDER BY ma.DEFAULT_YN DESC, ma.ADDR_SEQ ASC
    </select>
</mapper>